fastapi
uvicorn
pydantic
python-multipart
pillow
# numpy
opencv-python
insightface
onnxruntime
flask
flask-cors
pyinstaller


gfpgan
# torch
# torchvision

numpy>=1.23.5,<2
torch==2.0.1+cu118; sys_platform != 'darwin'
torch==2.0.1; sys_platform == 'darwin'
torchvision==0.15.2+cu118; sys_platform != 'darwin'
torchvision==0.15.2; sys_platform == 'darwin'
