<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery (Source and Target)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Gallery</h1>

    <div class="file-upload-container">

        <div class="file-upload-section">
            <label for="source">Source</label>
            <input type="file" id="source" multiple>
            <div class="preview-container" id="sourcePreview"></div>
            <p id="sourceFilename"></p>
        </div>

        <div class="gallery-container">
            <div class="source-gallery" id="sourceGallery"></div>
            <div class="target-gallery" id="targetGallery"></div>
        </div>

        <div class="file-upload-section">
            <label for="target">Target</label>
            <input type="file" id="target" multiple>
            <div class="preview-container" id="targetPreview"></div>
            <p id="targetFilename"></p>
        </div>
    </div>
    <div class='results-preview-conatiner'>
        <div class='results-container'>
            <div class="results-section">
                <div class="results-preview-container" id="swappedResult"></div>
                <div class="results-preview-container" id="enhancedResult"></div>
            </div>
        </div>
    </div>

    <div class="processing-controls-container">
      <button id="swapFaces">Swap Faces</button>
      <button id="enhance">Enhance</button>
    </div>

    <!-- Message section -->
    <div id="message" class="hidden"></div>

    <!-- Spinner Loading Indicator -->
    <div id="loadingSpinner"></div>

    <footer>
        © 2024 Visual Manipulation | All Rights Reserved
    </footer>

    <!-- Load the new consolidated script -->
    <script type=module src="{{ url_for('static', filename='js/commons.js') }}" defer></script>
    <script type=module src="{{ url_for('static', filename='js/gallery.js') }}" defer></script>
    <script type=module src="{{ url_for('static', filename='js/swapper.js') }}" defer></script>
    <script type=module src="{{ url_for('static', filename='js/enhancer.js') }}" defer></script>

    <script>
        const apiUrlForUploads = "{{ apiUrlForUploads }}";
        const apiUrlForFaceSwap = "{{ apiUrlForFaceSwap }}";
        const apiUrlForEnhance = "{{ apiUrlForEnhance }}";
        const apiUrlForFaceExtract = "{{ apiUrlForFaceExtract }}";
    </script>
</body>
</html>
